.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  transition: background-color .3s;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
