<div class="search-wrapper">
  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="group" id="name">
      <input type="text" formControlName="name" /><span class="highlight"></span
      ><span class="bar"></span>
      <label>Buscar por nombre</label>
      <div
        *ngIf="name && name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="name.errors?.['minlength']">
          Has introducido {{name.errors?.['minlength'].actualLength}} y el mínimo son
          {{name.errors?.['minlength'].requiredLength}}
        </div>
      </div>
    </div>

    <div class="group" id="year">
      <input type="number" formControlName="year" /><span
        class="highlight"
      ></span
      ><span class="bar"></span>
      <label>Año</label>
      <div
        *ngIf="year && year.invalid && (year.dirty || year.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="year.errors?.['min']">
          Has introducido {{year.errors?.['min'].actualLength}} y el mínimo son
          {{year.errors?.['min'].requiredLength}}
        </div>
      </div>
    </div>
    <div class="btn-box">
      <button
        class="btn btn-submit"
        type="submit"
        [disabled]="
          searchForm.invalid && (searchForm.dirty || searchForm.touched)
        "
      >
        Buscar
      </button>
    </div>
  </form>
</div>
